# Limit Access to Admins
<Macro RequireOnlyAdmins>
  <RequireAny>
{{- if exists "/config/SudoGroups" }}{{ range split (getv "/config/SudoGroups") "," }}
    Require claim groups:{{.}}
    Require claim https://sso.mozilla.com/claim/groups:{{.}}
{{- end }}{{ end }}
  </RequireAny>
</Macro>

# Limit Access to Regular users and Admins
<Macro RequireAdminsOrUsers>
  <RequireAny>
    #Admins
{{- if exists "/config/SudoGroups" }}{{ range split (getv "/config/SudoGroups") "," }}
    Require claim groups:{{.}}
    Require claim https://sso.mozilla.com/claim/groups:{{.}}
{{- end }}{{ end }}

    #Users
{{- if exists "/config/UserGroups" }}{{ range split (getv "/config/UserGroups") "," }}
    Require claim groups:{{.}}
    Require claim https://sso.mozilla.com/claim/groups:{{.}}
{{- end }}{{ end }}
  </RequireAny>
</Macro>
