defaultEntryPoints = ["http","https"]
checkNewVersion = false

{{ $debug := ( getv "/config/Debug" "false" ) }}
{{ if ne $debug "false" }}
logLevel = "DEBUG"
acmeLogging = true
{{ else }}
logLevel = "INFO"
acmeLogging = false
{{ end }}

[entryPoints]
  [entryPoints.traefik]
    address = ":9109"
  [entryPoints.http]
    address = ":80"
    compress = true
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    compress = false
    [entryPoints.https.tls]

[ping]
[api]
  [api.statistics]
[metrics]
  [metrics.prometheus]

[traefiklog]
  filepath = "/var/log/traefik_error.log"
  format   = "json"

[accessLog]
filePath = "/var/log/traefik.log"
format = "json"

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "nubis/{{ getv "/config/Project" }}/{{ getv "/config/Arena" }}/traefik/config"

# Use HTTP-01 challenges
[acme.httpChallenge]
  entryPoint = "http"

[acme]
# Handle when this isn't set
email="nubis-team@mozilla.com"
storage = "nubis/{{ getv "/config/Project" }}/{{ getv "/config/Arena" }}/traefik/acme"
entryPoint = "https"

# Disable for prod
#caServer = "https://acme-staging.api.letsencrypt.org/directory"

onDemand = false
[[acme.domains]]
   main = "{{ getv "/config/Domain" }}"

[file]
[backends]
  [backends.apache]
    [backends.apache.servers.server1]
    url = "http://127.0.0.1:82"

[frontends]
  [frontends.apache]
  passHostHeader = true
  backend="apache"
    [frontends.apache.routes.main]
    rule="PathPrefix:/"
