defaultEntryPoints = ["http","https"]
checkNewVersion = false
traefikLogsFile = "/var/log/traefik_error.log"

[entryPoints]
  [entryPoints.http]
    address = ":80"
    compress = true
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    compress = false
    [entryPoints.https.tls]

[web]
address = ":9109"

[accessLog]
filePath = "/var/log/traefik.log"
format = "json"

[web.metrics.prometheus]

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "nubis/{{ getv "/config/Project" }}/{{ getv "/config/Arena" }}/traefik/config"

[acme]
# Handle when this isn't set
email="nubis-team@mozilla.com"
storage = "nubis/{{ getv "/config/Project" }}/{{ getv "/config/Arena" }}/traefik/acme"
entryPoint = "https"

# Disable for prod
#caServer = "https://acme-staging.api.letsencrypt.org/directory"

onDemand = false
[[acme.domains]]
   main = "{{ getv "/config/Domain" }}"

[file]
[backends]
  [backends.apache]
    [backends.apache.servers.server1]
    url = "http://127.0.0.1:82"

[frontends]
  [frontends.apache]
  passHostHeader = true
  backend="apache"
    [frontends.apache.routes.main]
    rule="PathPrefix:/"
