# Secrets
OIDCClientID {{ getv "/config/OpenID/Client/ID" }}
OIDCClientSecret {{ getv "/config/OpenID/Client/Secret" }}

# Genarated
OIDCCryptoPassphrase {{ getv "/config/OpenID/Server/Passphrase" }}

# Landing redirect
OIDCRedirectURI https://{{ getv "/config/Domain" }}/sso

# Proxy
OIDCOutgoingProxy proxy.service.consul:3128

# Provider info
OIDCProviderIssuer https://auth.{{ getv "/config/OpenID/Client/Domain" }}.auth0.com
OIDCProviderAuthorizationEndpoint https://auth.{{ getv "/config/OpenID/Client/Domain" }}.auth0.com/authorize
OIDCProviderTokenEndpoint https://auth.{{ getv "/config/OpenID/Client/Domain" }}.auth0.com/oauth/token
OIDCProviderUserInfoEndpoint https://auth.{{ getv "/config/OpenID/Client/Domain" }}.auth0.com/userinfo
OIDCProviderJwksUri https://auth.{{ getv "/config/OpenID/Client/Domain" }}.auth0.com/.well-known/jwks.json

# Session Cache
OIDCCacheType memcache
OIDCMemCacheServers localhost
